body {
  background-color: #f8c471;
}

* {
  color: black !important;
}

option-menu {
  flex-shrink: initial;
}

.botons {
  text-align: center;
}

.btn {
  text-align: center;
  background-color: #ffdac1;
  margin: 1%;
  border-color: black;
  width: 240px;
}

.btn:hover {
  background-color: #ffb0c1;
  border-color: white;
}

.canvas {
  background-color: whitesmoke;
  border: 5px solid #fad7a0;
  border-style: outset;
}

.container {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.tools,
.filters {
  width: 25%;
  flex-wrap: wrap;
  flex-direction: column;
}
.canvas-tools {
  margin-left: 15%;
}

h1 {
  text-align: center;
  text-decoration: underline;
}
