* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
}

body {
    visibility: hidden;
    background-color: #59C6FF;
    min-height: 2500px;
    margin-top: 70px;
}

.scroll {
    width: 30px;
    height: 40px;
    margin-left: 50%;
    margin-top: 3%;
}

/* #region navbar */
.nav-btn {
    background-color: none;
    border-style: none;
    width: 40px;
    height: 40px;
}

.nav-logo {
    border-style: none;
    margin-left: -17px;
    margin-top: -10px;
    width: 40px;
    height: 40px;
    animation: rotate 4s linear infinite;
}

.custom-navbar {
    background-color: #016DB5;
}

.custom-nav-items {
    text-decoration: none;
    background-color: #016DB5;
}

.custom-nav-items a {
    transition: all .5s ease-in-out;
    color: white;
}

.custom-nav-items a:hover {
    background-color: #0E71AE;
    color: #FCBF20;
    transform: scale(1.7);
}


/* #endregion */

/* #region spinner */

#spinner {
    visibility: visible;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    background-color: #59C6FF;
}

.loading-spin {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-image: url(img/dona.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    animation: rotate 4s linear infinite;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

/* #endregion */

/* #region parallax-effect */

.parallax {
    background-color: #59C6FF;
    position: relative;
    width: 100%;
    height: 320vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#sign_the {
    max-width: 10%;
    height: auto;
    top: -21%;
    margin-left: -10%;
    position: relative;
    z-index: 5;
}

#sign_simpsons {
    max-width: 40%;
    height: auto;
    top: -15%;
    margin-left: 100%;
    position: relative;
    z-index: 3;
}

#family {
    max-width: 100%;
    height: auto;
    margin-top: 160vh;
    margin-left: 0%;
    z-index: 2;
}

/* #region clouds */

#cloud1 {
    max-width: 10%;
    height: auto;
    margin-top: 70px;
    animation: clouds-movement 100s linear infinite;
}

#cloud2 {
    max-width: 30%;
    height: auto;
    margin-top: 150px;
    animation: clouds-movement 53s linear infinite;
}

#cloud3 {
    max-width: 40%;
    height: auto;
    margin-top: 190px;
    animation: clouds-movement 38s linear infinite;
}

#cloud4 {
    max-width: 30%;
    height: auto;
    margin-top: 220px;
    animation: clouds-movement 130s linear infinite;
}


@keyframes clouds-movement {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(90vw);
    }

    100% {
        transform: translateX(0);
    }
}

/* #endregion */

/* #endregion */

/* #region characters */

.avatar {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border: 7px black solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 25px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    position: relative;
    z-index: 5;
}

.avatar:hover {
    animation: flip 1s linear infinite;
}

.avatar a {
    position: relative;
    z-index: 5;
}

.avatar p {
    background-color: black;
    color: blanchedalmond;
    font-size: 10px;
    margin-top: -30px;
    text-align: center;
    overflow: visible;
    position: relative;
    z-index: 7;
}

.avatar img {
    margin-top: -4%;
    margin-left: -5%;
    width: 110%;
    height: auto;
    position: relative;
    z-index: 5;
}

#character {
    width: 100%;
    height: 100%;
    margin-top: 370vh;
    margin-left: -170%;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 5;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.9);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-15px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.9);
        transform: translatey(0px);
    }
}

@keyframes flip {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

/* #endregion */


#characters-text {
    margin-top: 38vh;
    margin-left: -70%;
    text-align: center;
    position: relative;
    z-index: 5;
    background-color: #0E71AE;
    width: 100%;
}



/* #region accordeon */
#events-calendar .parallax {
    opacity: .5;
    height: 100vh;
    z-index: -50;
}

.ted-talks {
    background-color: #0a2a43;
    text-align: center;
    color: #FBE051;
    width: 40%;
    margin-left: 30%
}

.accordeon {
    width: 40%;
    margin-left: 30%
}

.accordeon li+div {
    overflow: hidden;
    height: auto;
    max-height: 0;
    transition: max-height 0.5s;
}

/* agrego la clase "visible" en js */
.accordeon li+div.visible {
    max-height: 100vh;
}

.accordeon li {
    list-style: none;
    text-align: center;
    background-color: #0a2a43;
    border: 1px solid black;
    color: white;
}

.accordeon img {
    max-width: 100%;
    max-height: 100%;
}

/* #endregion */

/* #region comments */

#comments .parallax {
    top: -80vh;
    opacity: .5;
    height: 100vh;
    z-index: -50;
}

.forms p {
    font-size: 35px;

}

.forms {
    margin-top: 7%;
    display: flex;
    justify-content: space-around;

}

.forms .left,
.forms .right {
    animation: zoom 5.8s;
    background-color: #F4C7E8;
    width: 40%;
    padding: 5%;

}

.forms .right {
    float: left;
}

.forms .right {
    float: right;
}

.mail-input:hover,
.text-input:hover {
    transform: scale(.99);
    background-color: #FBE051;
    border-color: #BBB5EF;
    border-radius: 15px;
    border-width: 3px;
}

.send-btn {
    color: white;
    background-color: #016DB5;
    float: right;
}

.send-btn:hover {
    transform: scale(1.05);
    color: #FBE051;
}


@keyframes zoom {
    from {
        opacity: 0;
        transform: scale(.3, .5);
    }

    to {
        opacity: 1;
    }
}

/* fade-away del placeholder */
:focus::-webkit-input-placeholder {
    opacity: 0;
    transform: scale(5);
    transition: 1.2s ease-in;
}


/* #endregion */